<%- include('common/header') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />

    <main>
      <h1>500 - Server Error </h1>
      <h2> Unfortunately something went wrong. Contact Admin for more information</h2>
      <p><a href="/">Home Page</a></p>
    </main>
  </body>
</html>
