<%- include('common/header') %>
    <main>
      <h1>Make the world a tastier place!</h1>
      <p>
        Share your favorite restaurants or find recommendations of other users!
      </p>
    </main>
  </body>
</html>
