<header id="main-header">
  <div id="logo"><a href="/">WDE</a></div>
  <%- include("nav-item") %>
  <button id="mobile-menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside class="mobile-menu-aside"><%- include("nav-item") %></aside>
