<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'All Posts' }) %>
    <link rel="stylesheet" href="/styles/posts.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main id="all-posts">
      <h1>All Posts</h1>
      <% if(posts.length > 0) { %>
      <ol id="posts-list">
        <% for(post of posts) { %>
        <li><%- include("includes/post-item", {post: post}) %></li>
        <% } %>
      </ol>
      <% } else { %>
      <h2>No Posts Found</h2>
      <p><a href="/new-post" class="btn">Create New Post</a></p>
      <% } %>
    </main>
  </body>
</html>
