<%- include("includes/head", {pageTitle: "An Error Occured"}) %>
<body>
  <%- include("includes/header") %>
  <main>
    <h1>Something Went Wrong !!</h1>
    <p>
      Please try again later!! Soemthing is wring ith the server side operation
    </p>
    <a class="btn" href="/">Back to Home page</a>
  </main>
  <%- include("includes/footer") %>
</body>
